<div class="wpr">
    <div class="patientsList_block" ng-repeat="patient in patients">
        <ul ng-class="{active:patient.active}">
            <li>{{patient.firstname}} {{patient.lastname}}</li>
            <li><strong>Total :</strong> {{patient.total}}</li>
            <li><strong>N° Facture(s) :</strong> {{patient.bills}}</li>
            <li ng-class="{active:patient.clear}" ng-click="set_clear(patient.id)"><span class="icon-check"></span></li>
            <li ng-click="toggle_sessions(patient.id)"><span class="icon-plus"></span></li>
        </ul>
        <div class="patientsList_sessions" ng-show="patient.active">
           
            <ul ng-repeat="session in patient.sessions_details">
                <li><strong>AMO :</strong> {{session.amo}}</li>
                <li><strong>Titulaire :</strong> {{session.holder}} ({{session.percentage}}%)</li>
                <li ng-repeat="paiement in session.paiements">
                    <strong>{{paiement.name}} :</strong> {{(paiement.value | number:2)+'€'}}
                </li>
                <li><strong>Total payé :</strong> {{(session_total_paid(patient.id,session.id) | number:2 )+'€'}} sur {{(session_total_due(patient.id,session.id) | number:2 )+'€'}}</li>
            </ul>
        </div>
    </div>
</div>


<pre>{{patients|json}}</pre>