*{
    box-sizing: border-box;    
}

body{
    padding: 0;
    margin: 0;
    font-family: helvetica, arial;
    font-weight: 300;
    color: #333;
}

header{
    padding: 20px;
    background-color: #222;
    color: #ddd;
}

header a{
    color: #E91E63;
}